.main{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    position: fixed;
    transition: all 1s ease;
    z-index: 100;
}
.mainWhite{
    transition: all 1s ease;
    position: fixed;
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    z-index: 100;
    border-bottom: 1px solid rgb(119, 115, 115);
}
.mainWhite .container a{
    color: rgb(255, 255, 255);
    position: relative;
}
.mainWhite .container a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom:-1px;
    left: 0;
    background-color: rgb(0, 0, 0);
    transition: all 1s ease;
}
.mainWhite .container a:hover::after{
    width: 100%;
    transition: all 1s ease;
}
.container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.container a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    line-height: 20px;
}
.container a:nth-child(5){
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}
.container a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom:-1px;
    left: 0;
    background-color: rgb(255, 255, 255);
    transition: all 1s ease;
}
.container a:hover::after{
    width: 100%;
    transition: all 1s ease;
}
@media screen and (max-width: 800px){
    .container{
        width: 90%;
    }
}
@media screen and (max-width: 400px){
    .container{
        margin-left: auto;
        width: 90%;
    }
    .container a:nth-child(5){
        font-size: 12px;
        font-weight: 200;
    }
}
.mainPhone{
    display: none;
}
/* Phone */
@media screen and (max-width: 700px){
    .main{
        display: none;
    }
    .mainWhite{
        display: none;
    }
    .mainPhone{
        display: block;
        width: 100%;
        min-height: 60px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        z-index: 100;
        position: fixed;
    }
    .visible{
        width: 80%;
        height: 60px;
        margin: auto;
    }
    .containerPhone{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .containerPhone a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        cursor: pointer;
        position: relative;
        letter-spacing: 2px;
    }
    .containerPhone svg{
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
    .invisible{
        width: 100%;
        height: 91vh;
        background-color: rgb(255, 255, 255);
    }
    .clickedMenu{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        transition: all 1s ease;
    }
    .clickedMenu a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        transition: all 1s ease;
    }
    .clickedMenu a{
        background-color: rgb(34, 31, 31);
    }
    .clickedMenu a:hover{
        background-color: black;
        color: blanchedalmond;
        transition: all 1s ease;
    }
}