.main{
    width: 100%;
    min-height: 100%;
    background-color: #000;
    padding: 20px 0px;
}
.container{
    padding: 15px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container div{
    background-position: center;
    background-size: cover;
    cursor: pointer;
    position: relative;
    transition: all 1.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container div a{
    position: absolute;
    text-decoration: none;
    color: rgb(194, 35, 70);
    font-size: 20px;
    font-weight: 400;
    opacity: 0;
    transition: all 1s ease;
    z-index: 20;
    text-shadow: 0px 0px 20px #fff;
}
.container div:hover a{
    transition: all 1s ease;
    opacity: 1;
}

.container div::after{
    content: '';
    transition: all .5s ease;
    position: absolute;
    width: 0%;
    height: 0%;
}
.main h1{
    text-align: left;
    color: #fff;
    font-weight: 200;
    font-size: 25px;
    width: 80%;
    margin: auto;
    padding: 20px;
}
.container div:hover::after{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
}
/* .container div:hover{
    display: block;
} */
.container div:nth-child(1){
    width: 30%;
    height: 200px;
    background-position: right center;
}
.container div:nth-child(2){
    width: 30%;
    height: 250px;
}
.container div:nth-child(3){
    width: 30%;
    height: 210px;
}
.container div:nth-child(4){
    width: 30%;
    height: 200px;
}
.container div:nth-child(5){
    width: 30%;
    height: 250px;
}
.container div:nth-child(6){
    width: 30%;
    height: 210px;
}
.container div:nth-child(7){
    width: 30%;
    height: 250px;
}
.container div:nth-child(8){
    width: 30%;
    height: 200px;
}
.scroll::before{
    width: 0%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: red;
    top: 0;
    animation: scroll 1s 1s ease forwards;
}
.scroll1::before{
    width: 0%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: red;
    top: 0;
    animation: scroll 1s 1s ease forwards;
}
.scroll2::before{
    width: 0%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: red;
    top: 0;
    animation: scroll 1s 1s ease forwards;
}
@keyframes scroll{
    0%{
        left: 0;
        right: 100%;
        width: 0%;
    }50%{
        right: 0;
        width: 100%;
    }
    100%{
        right: 0;
        width: 0%;
    }
}
@media screen and (max-width: 700px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .container div:nth-child(1){
        width: 100%;
        height: 260px;
        margin: 30px auto;
    }
    .container div:nth-child(2){
        width: 100%;
        height: 260px;
        margin: 30px auto;
    }
    .container div:nth-child(3){
        width: 100%;
        height: 260px;
        margin: 30px auto;
    }
}